ansible/inventory/production.yml
ansible/inventory/staging.yml
ansible/inventory/prom.yml
backend/target
backend/.env
backend/Rocket.toml
backend_tests/env
backend_tests/.env
backend_tests/__pycache__
backup_exporter/env
backup_exporter/.env
companion/env
companion/src/__pycache__
companion/.env
companion/.pytest_cache
companion/reports/
exporter/env
frontend/.env.development
frontend/.env.production
frontend/test-results/
frontend/tests/signup-data.json
frontend/dist
scripts/env
scripts/__pycache__
scripts/data
visuals/archives
pgdata
private
*.swp
.env