companion/env
pgdata
visuals/archives
private
companion/src/__pycache__
companion/.env
scripts/env
scripts/__pycache__
companion/.pytest_cache
frontend/.env.development
frontend/.env.production
scripts/data
