companion/env
pgdata
visuals/archives
private
companion/src/__pycache__
companion/.env
scripts/env
scripts/__pycache__
companion/.pytest_cache
frontend/.env.development
frontend/.env.production
scripts/data
backend_tests/env
backend_tests/.env
backend_tests/__pycache__
*.swp
.env
frontend/test-results/
frontend/tests/signup-data.json
